*.pyc
*~
.*.swp
.*.swo
\#*#
.settings
.project
.pydevproject
.hg
.tmp*
*eclipse*
/log
/secrets.py
/media/medialibrary
/media/uploads
/media/products
/docs/_build
/MANIFEST
/dist
zivinetz.egg-info
_build
.DS_Store
venv
media/
.coverage
htmlcov
.tox
