coverage==4.5.1
Django==2.0.3
django-js-asset==1.0.0
django-mptt==0.9.0
factory-boy==2.10.0
Faker==0.8.11
feedparser==5.2.1
FeinCMS==1.13.5
pdfdocument==3.2
Pillow==5.0.0
PyPDF2==1.26.0
python-dateutil==2.6.1
pytz==2018.3
reportlab==3.4.0
six==1.11.0
text-unidecode==1.2
towel==0.11.0
towel-foundation==0.8.2
