{% extends base_template|default:"base.html" %}

{% load i18n modelview_detail modelview_list %}

{% block title %}{{ object }} - {{ verbose_name }} - {{ block.super }}{% endblock %}

{% block content %}
<h2>{{ object }}</h2>

<table>
{% for title, value in object|model_details %}
    <tr class="{% cycle "odd" "even" %}">
        <th>{{ title|capfirst }}</th>
        <td>{{ value }}</td>
    </tr>
{% endfor %}
</table>

<div class="buttons">
    <a href="delete/" class="button"><span>{% trans "delete"|capfirst %}</span></a>
    <a href="edit/"class="button"><span>{% trans "edit"|capfirst %}</span></a>
</div>

<h2>{% trans "expense reports" %}</h2>
<table class="objects">
    <thead>
        <tr>
            <th>{% trans "object"|capfirst %}</th>
            <th>{% trans "total days"|capfirst %}</th>
            <th>{% trans "status"|capfirst %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for object in object.reports.all %}
        <tr class="{% cycle 'odd' 'even' %}">
            <th>
                <a href="{{ object.get_absolute_url }}">
                    {{ object.date_from|date:"d.m.Y" }} - {{ object.date_until|date:"d.m.Y" }}
                </a>
            </th>
            {% for name, value in object|model_row:"total_days,status" %}
                <td>{{ value }}</td>
            {% endfor %}
            <td><a href="{{ object.pdf_url }}">PDF</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="buttons">
    <a href="create_expensereports/" class="button">
        <span>{% trans "Create reports" %}</span></a>
    <a href="remove_expensereports/" class="button">
        <span>{% trans "Remove pending reports" %}</span></a>
</div>

<h2>{% trans "job references" %}</h2>
<table>
{% for reference in object.jobreferences.all %}
    <tr>
        <th>{{ reference }}</th>
        <td><a href="{{ reference.pdf_url }}">PDF</a></td>
    </tr>
{% endfor %}
</table>

<div class="buttons">
    <a href="{% url zivinetz_jobreference_from_template 1 object.id %}" class="button">
        <span>Erstellen</span></a>
</div>

{% endblock %}
