{% extends "modelview/object_list.html" %}

{% load i18n modelview_list %}

{% block objects %}
<table class="objects">
    <thead>
        <tr>
            <th>{% trans "date period"|capfirst %}</th>
            <th>{% trans "drudge"|capfirst %}</th>
            <th>{% trans "specification"|capfirst %}</th>
            <th>{% trans "created"|capfirst %}</th>
            <th>{% trans "status"|capfirst %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <th>
                <a href="{{ object.get_absolute_url }}">
                    {{ object.date_from|date:"d.m.Y" }} - {{ object.date_until|date:"d.m.Y" }}
                </a>
            </th>
            <td>{{ object.drudge }}</td>
            <td title="{{ object.specification }}">{{ object.specification.code }}</td>
            <td>{{ object.created|date:"d.m.Y" }}</td>
            <td>{{ object.get_status_display }}</td>
            <td>{{ object.admin_pdf_url|safe }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr><td colspan="6">
            <button id="exportxls" type="button">{% trans "Phone list" %}</button>
        </td></tr>
    </tfoot>
</table>
<style type="text/css">#exportxls { float: right !important; margin: 15px 0 0 0 !important; }</style>
<script type="text/javascript">
$(function() {
    $('#exportxls').bind('click', function() {
        window.open('?' + $('#filterform').serialize() + '&s=xls');
    });
});
</script>
{% endblock %}
