{% extends base_template|default:"base.html" %}

{% load i18n towel_form_tags %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}

{% block content %}
<h2>{{ title }}</h2>

<form method="post" action=".">{% csrf_token %}
{% form_errors form formsets %}

<table>
    {% for field in form %}{% form_item field %}{% endfor %}
</table>

<h3>{% trans "expense reports"|capfirst %}</h3>
<p>{% trans "Expense reports are automatically created with the correct date ranges when you click the 'Create reports' button on the assignment detail page." %}</p>

{{ formsets.expensereports.management_form }}
<table id="expensereports">
    <thead>
        <tr>
            <th>{% trans "date from" %}</th>
            <th>{% trans "date until" %}</th>
            <th>{% trans "report no." %}</th>
            <th>{% trans "status" %}</th>
            <th>{% trans "Delete" %}</th>
        </tr>
    </thead>
    <tbody>
    {% dynamic_formset formsets.expensereports "expensereports" %}
        <tr id="{{ form_id }}" {% if empty %}class="empty"{% endif %}>
            <td>
                {{ form.id }}
                {% form_item_plain form.date_from %}
            </td>
            <td>{% form_item_plain form.date_until %}</td>
            <td>{% form_item_plain form.report_no %}</td>
            <td>{% form_item_plain form.status %}</td>
            <td>{{ form.DELETE }}</td>
        </tr>
    {% enddynamic_formset %}
    </tbody>
    <tfoot>
        <tr><td colspan="3">
        <button type="button" onclick="towel_add_subform('expensereports')">{% trans "New expense report" %}</button>
        </td></tr>
    </tfoot>
</table>

<div class="buttons">
    <button type="submit">{% trans "Save" %}</button>
    <button type="submit" name="_continue">{% trans "Save and continue editing" %}</button>
    <button type="button" onclick="window.location.assign('../')">{% trans "Cancel" %}</button>
</div>

</form>

<style type="text/css">
#content form #expensereports input[type="text"] {
    min-width: 150px;
    width: 150px;
}
</style>
{% endblock %}
