{% extends "base.html" %}

{% load feincms_tags feincms_page_tags i18n navigation_tags %}

{% block title %}Zivinetz - {{ block.super }}{% endblock %}

{% block extra-head %}{{ block.super }}

<script type="text/javascript" src="{{ STATIC_URL }}towel/towel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}naturnetz/js/global.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}zivinetz/zivinetz.css" type="text/css" media="screen, projection, print" />
<script type="text/javascript" src="{{ STATIC_URL }}zivinetz/zivinetz.js"></script>
{% endblock %}

{% block content-before %}{{ block.super }}
<div class="span-22 prepend-1 append-1 last">
    {% feincms_navigation of feincms_page as pages level=4 %}
    <div id="z-navigation">
        {% mark_current request.path %}
        {% for page in pages %}
            <a href="{{ page.get_navigation_url }}"><span>{{ page.title }}</span></a>
        {% endfor %}
        {% endmark_current %}
        <br style="clear:left" />
    </div>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

{% block content-after %}
<hr />
<a href="{% url auth_logout %}">{% trans "Log out" %}</a>
</div>
{% endblock %}
