{% extends "base.html" %}

{% load feincms_tags feincms_page_tags i18n navigation_tags %}

{% block moodboard %}{% endblock %}

{% block title %}Zivinetz - {{ block.super }}{% endblock %}

{% block extra-head %}{{ block.super }}

<script type="text/javascript" src="{{ STATIC_URL }}towel/towel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}naturnetz/js/global.js"></script>

<link rel="stylesheet" href="{{ STATIC_URL }}zivinetz/zivinetz.css" type="text/css" media="screen, projection, print" />
<script type="text/javascript" src="{{ STATIC_URL }}zivinetz/zivinetz.js"></script>

<style type="text/css">
/* theme overrides */
#maincontent { width: 960px !important; }
</style>
{% endblock %}

{% block body-class %}cms_standard{% endblock %}

{% block content-before %}{{ block.super }}
<div id="main" class="zivinetz">

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="sub">
        {% feincms_navigation of feincms_page as sub level=4,extended %}
        {% for page in sub %}
            <a {% if page|is_equal_or_parent_of:feincms_page %}class="current"{% endif %} href="{{ page.get_navigation_url }}"><span>{{ page.title }}</span></a>
            {% if not forloop.last %}|{% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block content-after %}
    <hr />
    <a href="{% url auth_logout %}">{% trans "Log out" %}</a>
</div>
{% endblock %}
