{% extends "modelview/object_list.html" %}

{% load i18n modelview_list towel_batch_tags %}

{% block objects %}
<table class="objects">
    <thead>
        <tr>
            {% if batch_form %}<td>
                <input type="checkbox">
            </td>{% endif %}
            <th>{% trans "ZDP No."|capfirst %}</th>
            <th>{% trans "first name"|capfirst %}</th>
            <th>{% trans "last name"|capfirst %}</th>
            <th>{% trans "courses"|capfirst %}</th>
            <th>
                {% trans "education / occupation"|capfirst %}<br>
                {% trans "last assignment" %}
            </th>
            <th>{% trans "average mark" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            {% if batch_form %}<td>{% batch_checkbox batch_form object.id %}</td>{% endif %}
            <th><a href="{{ object.get_absolute_url }}">{{ object.zdp_no }}</a></th>
            <td>{{ object.user.first_name }}</td>
            <td>{{ object.user.last_name }}</td>
            <td style="white-space:nowrap">
                <span title="{% trans "motor saw course" %}">
                    {{ object.pretty_motor_saw_course }}
                </span>
                {% if object.environment_course %}
                    <span title="{% trans "environment course"|capfirst %}">ENV</span>
                {% endif %}
                {% if object.driving_license %}
                    <span title="{% trans "driving license"|capfirst %}">FA</span>
                {% endif %}
            </td>
            <td>
            <div
                style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:300px"
                title="{{ object.education_occupation }}"
                >
                {{ object.education_occupation|default:"&ndash;" }}<br>
                {% if object.last_assignment %}
                    <a href="{{ object.last_assignment.get_absolute_url }}">
                        {{ object.last_assignment.specification.code }}
                        ({{ object.last_assignment.date_from|date:"d.m.Y" }} -
                        {{ object.last_assignment.determine_date_until|date:"d.m.Y" }}),
                        {{ object.last_assignment.get_status_display }}
                    </a>
                {% else %}&ndash;{% endif %}
            </div>
            </td>
            <td>{{ object.average_mark|default:"&ndash;" }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
