{% extends "zivinetz/base.html" %}

{% load i18n towel_form_tags %}

{% block title %}{{ drudge }} - {{ block.super }}{% endblock %}

{% block content %}
<h1>{% trans "dashboard"|capfirst %}: {{ drudge }}</h1>

<h2>{% trans "assignments"|capfirst %}</h2>
<table class="objects">
    <thead>
        <tr>
            <th>{% trans "date period"|capfirst %}</th>
            <th>{% trans "specification"|capfirst %}</th>
            <th>{% trans "created"|capfirst %}</th>
            <th>{% trans "status"|capfirst %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for object in assignments %}
        <tr class="{% cycle 'odd' 'even' %}">
            <th>{{ object.date_from|date:"d.m.Y" }} - {{ object.date_until|date:"d.m.Y" }}</th>
            <td title="{{ object.specification }}">{{ object.specification.code }}</td>
            <td>{{ object.created|date:"d.m.Y" }}</td>
            <td>{{ object.get_status_display }}</td>
            <td>{{ object.admin_pdf_url|safe }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5"><strong>{% trans "No items yet." %}</strong></td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<h2>{% trans "waitlist"|capfirst %}</h2>
<table class="objects">
    <thead>
        <tr>
            <th>{% trans "date period"|capfirst %}</th>
            <th>{% trans "specification"|capfirst %}</th>
            <th>{% trans "duration in days"|capfirst %}</th>
            <th>{% trans "created"|capfirst %}</th>
            <th>{% trans "notes"|capfirst %}</th>
        </tr>
    </thead>
    <tbody>
    {% for object in waitlist %}
        <tr class="{% cycle 'odd' 'even' %}">
            <th>{{ object.assignment_date_from|date:"d.m.Y" }} - {{ object.assignment_date_until|date:"d.m.Y" }}</th>
            <td title="{{ object.specification }}">{{ object.specification.code }}</td>
            <td>{{ object.assignment_duration }}</td>
            <td>{{ object.created|date:"d.m.Y" }}</td>
            <td>{{ object.notes }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5"><strong>{% trans "No items yet." %}</strong></td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<h2>{% trans "expense reports"|capfirst %}</h2>

<table class="objects">
    <thead>
        <tr>
            <th>{% trans "object"|capfirst %}</th>
            <th>{% trans "assignment"|capfirst %}</th>
            <th>{% trans "total days"|capfirst %}</th>
            <th>{% trans "status"|capfirst %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for object in expense_reports %}
        <tr class="{% cycle 'odd' 'even' %}">
            <th>{{ object.date_from|date:"d.m.Y" }} - {{ object.date_until|date:"d.m.Y" }}</th>
            <td>{{ object.assignment }}</td>
            <td>{{ object.total_days }}</td>
            <td>{{ object.get_status_display }}</td>
            <td><a href="{{ object.pdf_url }}">PDF</a></td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5"><strong>{% trans "No items yet." %}</strong></td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<table><tr>
<td>
    <h2>{% trans "New assignment" %}</h2>
    <form action="." method="post">{% csrf_token %}
        <input type="hidden" name="assignment" value="1" />
        <table>{{ assignment_form.as_table }}</table>
        <input type="submit" />
    </form>
</td>

<td>
    <h2>{% trans "New waitlist entry" %}</h2>
    <form action="." method="post">{% csrf_token %}
        <input type="hidden" name="waitlist" value="1" />
        <table>{{ waitlist_form.as_table }}</table>
        <input type="submit" />
    </form>
</td>
</tr></table>

<style type="text/css">
select, textarea { max-width: 300px !important; }
table td { vertical-align: top; }
</style>
{% endblock %}
