{% extends "modelview/object_list.html" %}

{% load i18n modelview_list towel_batch_tags %}

{% block objects %}
<table class="objects">
    <thead>
        <tr>
            {% if batch_form %}<td>
                <input type="checkbox">
            </td>{% endif %}
            <th>{% trans "ZDP No."|capfirst %}</th>
            <th>{% trans "first name"|capfirst %}</th>
            <th>{% trans "last name"|capfirst %}</th>
            <th>{% trans "motor saw course"|capfirst %}</th>
            <th>{% trans "environment course"|capfirst %}</th>
            <th>{% trans "last assignment" %}</th>
            <th>{% trans "average mark" %}</th>
            <!--
            <th>{% trans "object"|capfirst %}</th>
            -->
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            {% if batch_form %}<td>{% batch_checkbox batch_form object.id %}</td>{% endif %}
            <th><a href="{{ object.get_absolute_url }}">{{ object.zdp_no }}</a></th>
            <td>{{ object.user.first_name }}</td>
            <td>{{ object.user.last_name }}</td>
            <td>{{ object.pretty_motor_saw_course|default:"&ndash;" }}</td>
            <td>{{ object.environment_course|yesno:_("Yes,No") }}</td>
            <td>{{ object.date_of_birth|date:"d.m.Y" }}</td>
            <td>{{ object.user.date_joined|date:"d.m.Y" }}</td>
            <td>{% if object.last_assignment %}
                <a href="{{ object.last_assignment.get_absolute_url }}">
                    {{ object.last_assignment.specification.code }}
                    ({{ object.last_assignment.date_from|date:"d.m.Y" }} -
                    {{ object.last_assignment.determine_date_until|date:"d.m.Y" }}),
                    {{ object.last_assignment.get_status_display }}
                </a>
                {% else %}&ndash;{% endif %}
            </td>
            <td>{{ object.average_mark|default:"&ndash;" }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
