{% extends base_template|default:"base.html" %}

{% load i18n modelview_detail modelview_list %}

{% block title %}{{ object }} - {{ verbose_name }} - {{ block.super }}{% endblock %}

{% block content %}
<h2>{{ object }}</h2>

<table>
{% for title, value in object.user|model_details %}
    <tr class="{% cycle "odd" "even" %}">
        <th>{{ title|capfirst }}</th>
        <td>{{ value }}</td>
    </tr>
{% endfor %}
{% for title, value in object|model_details %}
    <tr class="{% cycle "odd" "even" %}">
        <th>{{ title|capfirst }}</th>
        <td>{{ value }}</td>
    </tr>
{% endfor %}
</table>

<div class="buttons">
    <a href="delete/" class="button"><span>{% trans "delete"|capfirst %}</span></a>
    <a href="edit/"class="button"><span>{% trans "edit"|capfirst %}</span></a>
</div>

<h2>{% trans "assignments" %}</h2>
<table class="objects">
    <thead>
        <tr>
            <th>{% trans "date period"|capfirst %}</th>
            <th>{% trans "specification"|capfirst %}</th>
            <th>{% trans "created"|capfirst %}</th>
            <th>{% trans "status"|capfirst %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for object in object.assignments.all %}
        <tr class="{% cycle 'odd' 'even' %}">
            <th>
                <a href="{{ object.get_absolute_url }}">
                    {{ object.date_from|date:"d.m.Y" }} - {{ object.date_until|date:"d.m.Y" }}
                </a>
            </th>
            <td title="{{ object.specification }}">{{ object.specification.code }}</td>
            <td>{{ object.created|date:"d.m.Y" }}</td>
            <td>{{ object.get_status_display }}</td>
            <td>{{ object.admin_pdf_url|safe }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2>{% trans "internal assessments" %}</h2>
<table>
    <thead>
        <tr>
            <th>{% trans "comment" %}</th>
            <th>{% trans "mark" %}</th>
            <th>{% trans "created" %}</th>
        </tr>
    </thead>
    <tbody>
    {% for assessment in object.assessments.all %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{ assessment.comment|linebreaksbr }}</td>
            <td>{{ assessment.mark }}</td>
            <td>{{ assessment.created|date:"d.m.Y" }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
