{% extends base_template|default:"base.html" %}

{% load i18n towel_form_tags %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}

{% block content %}
<h2>{{ title }}</h2>

<form method="post" action=".">{% csrf_token %}
{% form_errors form formsets %}

<table>
{% for field in form %}{% form_item field %}{% endfor %}
</table>

<h3>{% trans "Periods" %}
{{ formsets.periods.management_form }}
<table>
    <thead>
        <tr>
            <th>{% trans "Specification" %}</th>
            <th>{% trans "From" %}</th>
            <th>{% trans "Delete" %}</th>
        </tr>
    </thead>
    <tbody>
    {% dynamic_formset formsets.periods "periods" %}
        <tr id="{{ form_id }}" {% if empty %}class="empty"{% endif %}>
            <td>
                {{ form.id }}
                {% form_item_plain form.specification %}
            </td>
            <td>{% form_item_plain form.date_from %}</td>
            <td>{{ form.DELETE }}</td>
        </tr>
    {% enddynamic_formset %}
    </tbody>
    <tfoot>
        <tr><td colspan="3">
        <button type="button" onclick="towel_add_subform('periods')">{% trans "New period" %}</button>
        </td></tr>
    </tfoot>
</table>

<table>
    <tr>
        <td>&nbsp;</td>
        <td>
            <button type="submit">{% trans "Save" %}</button>
            <button type="submit" name="_continue">{% trans "Save and continue editing" %}</button>
            <button type="button" onclick="window.location.assign('../')">{% trans "Cancel" %}</button>
        </td>
    </tr>
</table>
</form>

<script type="text/javascript">
$(function() {
    var working_days = $('#{{ form.working_days.auto_id }}');
    var free_days = $('#{{ form.free_days.auto_id }}');

    var holi_days = $('#{{ form.holi_days.auto_id }}');
    var sick_days = $('#{{ form.sick_days.auto_id }}');
    var forced_leave_days = $('#{{ form.forced_leave_days.auto_id }}');

    working_days.attr('readonly', 'readonly');

    var total = parseInt(working_days.val()) + parseInt(free_days.val()) +
        parseInt(holi_days.val()) + parseInt(sick_days.val()) +
        parseInt(forced_leave_days.val());

    function recalculate() {
        var minus = parseInt(free_days.val()) +
            parseInt(holi_days.val()) + parseInt(sick_days.val()) +
            parseInt(forced_leave_days.val());

        working_days.val(total - minus);
    }

    free_days.blur(recalculate);
    holi_days.blur(recalculate);
    sick_days.blur(recalculate);
    forced_leave_days.blur(recalculate);
});
</script>
<style type="text/css">
.empty { display: none; }

.invalid label { color: red; }
.invalid input { border-color: red; border-left: 5px solid red; padding-left: 5px; }

input { border: 1px solid #cfcfcf; padding: 5px 5px 5px 9px; }
input[readonly] { background: #e8e8e8; }
</style>
{% endblock %}
