{% extends base_template|default:"base.html" %}

{% load i18n towel_form_tags %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}

{% block content %}
<h2>{{ title }}</h2>

<form method="post" action=".">{% csrf_token %}
{% form_errors form formsets %}

<table>
    {% if object %}
    <tr>
        <th>{% trans "assignment"|capfirst %}</th>
        <td><a href="{{ object.assignment.get_absolute_url }}">{{ object.assignment }}</a></td>
    </tr>
    {% endif %}
    {% form_item form.date_from %}
    {% form_item form.date_until %}
    {% form_item form.report_no %}
    {% form_item form.status %}

    {% with field=form.working_days notes=form.working_days_notes %}
        <tr class="three">
            <th>{{ field.label_tag }}</th>
            <td>
                {% form_item_plain field %}
                {% form_item_plain notes %}
            </td>
        </tr>
    {% endwith %}
    {% with field=form.free_days notes=form.free_days_notes %}
        <tr class="three">
            <th>{{ field.label_tag }}</th>
            <td>
                {% form_item_plain field %}
                {% form_item_plain notes %}
            </td>
        </tr>
    {% endwith %}
    {% with field=form.sick_days notes=form.sick_days_notes %}
        <tr class="three">
            <th>{{ field.label_tag }}</th>
            <td>
                {% form_item_plain field %}
                {% form_item_plain notes %}
            </td>
        </tr>
    {% endwith %}
    {% with field=form.holi_days notes=form.holi_days_notes %}
        <tr class="three">
            <th>{{ field.label_tag }}</th>
            <td>
                {% form_item_plain field %}
                {% form_item_plain notes %}
            </td>
        </tr>
    {% endwith %}
    {% with field=form.forced_leave_days notes=form.forced_leave_days_notes %}
        <tr class="three">
            <th>{{ field.label_tag }}</th>
            <td>
                {% form_item_plain field %}
                {% form_item_plain notes %}
            </td>
        </tr>
    {% endwith %}
    {% with field=form.clothing_expenses notes=form.clothing_expenses_notes %}
        <tr class="three">
            <th>{{ field.label_tag }}</th>
            <td>
                {% form_item_plain field %}
                {% form_item_plain notes %}
            </td>
        </tr>
    {% endwith %}
    {% with field=form.transport_expenses notes=form.transport_expenses_notes %}
        <tr class="three">
            <th>{{ field.label_tag }}</th>
            <td>
                {% form_item_plain field %}
                {% form_item_plain notes %}
            </td>
        </tr>
    {% endwith %}
    {% with field=form.miscellaneous notes=form.miscellaneous_notes %}
        <tr class="three">
            <th>{{ field.label_tag }}</th>
            <td>
                {% form_item_plain field %}
                {% form_item_plain notes %}
            </td>
        </tr>
    {% endwith %}
</table>

<h3>{% trans "Periods" %}</h3>
{{ formsets.periods.management_form }}
<table>
    <thead>
        <tr>
            <th>{% trans "Specification" %}</th>
            <th>{% trans "From" %}</th>
            <th>{% trans "Delete" %}</th>
        </tr>
    </thead>
    <tbody>
    {% dynamic_formset formsets.periods "periods" %}
        <tr id="{{ form_id }}" {% if empty %}class="empty"{% endif %}>
            <td>
                {{ form.id }}
                {% form_item_plain form.specification %}
            </td>
            <td>{% form_item_plain form.date_from %}</td>
            <td>{{ form.DELETE }}</td>
        </tr>
    {% enddynamic_formset %}
    </tbody>
    <tfoot>
        <tr><td colspan="3">
        <button type="button" onclick="towel_add_subform('periods')">{% trans "New period" %}</button>
        </td></tr>
    </tfoot>
</table>

<div class="buttons">
    <button type="submit">{% trans "Save" %}</button>
    <button type="submit" name="_continue">{% trans "Save and continue editing" %}</button>
    <button type="button" onclick="window.location.assign('../')">{% trans "Cancel" %}</button>
</div>

</form>

<script type="text/javascript">
$(function() {
    var working_days = $('#{{ form.working_days.auto_id }}');
    var free_days = $('#{{ form.free_days.auto_id }}');

    var holi_days = $('#{{ form.holi_days.auto_id }}');
    var sick_days = $('#{{ form.sick_days.auto_id }}');
    var forced_leave_days = $('#{{ form.forced_leave_days.auto_id }}');

    //working_days.attr('readonly', 'readonly');

    function tryint($f) {
        var val = parseInt($f.val(), 10);
        if (isNaN(val)) {
            val = 0;
            $f.val(0);
        }

        return val;
    }

    var total = tryint(working_days) + tryint(free_days) +
        tryint(holi_days) + tryint(sick_days) +
        tryint(forced_leave_days);

    function recalculate() {
        var minus = tryint(free_days) +
            tryint(holi_days) + tryint(sick_days) +
            tryint(forced_leave_days);

        working_days.val(total - minus);
    }

    //free_days.keyup(recalculate).change(recalculate);
    //holi_days.keyup(recalculate).change(recalculate);
    //sick_days.keyup(recalculate).change(recalculate);
    //forced_leave_days.keyup(recalculate).change(recalculate);
});
</script>
<style type="text/css">
tr.three span:first-child input {
    width: 50px !important;
    min-width: 0 !important;
    margin-right: 10px !important;
    float: left;
}
</style>
{% endblock %}
