{% extends "zivinetz_base.html" %}

{% load i18n towel_form_tags %}

{% block content %}
<h1>{% trans "scheduling"|capfirst %}</h1>

<div class="box searchbox {{ search_form.searching }}">
    <a href="?clear=1" class="searching">clear</a>

    <form id="filterform" method="get" action=".">
        <input type="hidden" name="s" value="1" />
        {% form_item_plain search_form.query %}
        {% for field in search_form.fields_iterator %}
            {% if forloop.first %}<table>{% endif %}
            {% form_item field %}
            {% if forloop.last %}</table>{% endif %}
        {% endfor %}
        <button type="submit"><span>{% trans "Search" %}</span></button>
    </form>
</div>


<style type="text/css">
#scheduler .odd td { background: #fff; }
#scheduler .even td { background-color: #e4e4e4; }

#scheduler td { border: 1px solid #444; text-align: center; }
#scheduler th:first-child { white-space: nowrap; }

#scheduler tr.status10 td.a { background-color: orange; }
#scheduler tr.status20 td.a { background-color: blue; }
#scheduler tr.status30 td.a { background-color: green; }
#scheduler tr.status40 td.a { background-color: grey; }
</style>

{% spaceless %}<table id="scheduler">
    <thead>
        <tr>
            <th colspan="2"></th>
            {% for monday, year, week in scheduler.weeks %}
                <th>{% ifchanged year %}{{ year }}{% endifchanged %}</th>
            {% endfor %}
        </tr>
        <tr>
            <th colspan="2"></th>
            {% for monday, year, week in scheduler.weeks %}
                <th>W{{ week|stringformat:"02d" }}&nbsp;</th>
            {% endfor %}
        </tr>
    </thead>
{% for assignment, scheduled in scheduler.assignments %}
    <tr class="status{{ assignment.status }} {% cycle "odd" "even" %}">
        <th><a href="{{ assignment.get_absolute_url }}">{{ assignment.drudge }}</a></th>
        <th>{{ assignment.specification.code }}</th>
        {% for week, text in scheduled %}
            <td{% if week %} class="a"{% endif %}>{{ text }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</table>{% endspaceless %}

{% endblock %}
