{% extends "zivinetz_base.html" %}

{% load i18n %}

{% block content %}
<h1>{% trans "scheduling"|capfirst %}</h1>

<style type="text/css">
#scheduler .odd td { background: #fff; }
#scheduler .even td { background-color: #e4e4e4; }

#scheduler td { border: 1px solid #444; text-align: center; }
#scheduler th:first-child { white-space: nowrap; }

#scheduler tr.status10 td.a { background-color: orange; }
#scheduler tr.status20 td.a { background-color: blue; }
#scheduler tr.status30 td.a { background-color: green; }
#scheduler tr.status40 td.a { background-color: grey; }
</style>

{% spaceless %}<table id="scheduler">
    <thead>
        <tr>
            <th></th>
            {% for monday, year, week in scheduler.weeks %}
                <th>{% ifchanged year %}{{ year }}{% endifchanged %}</th>
            {% endfor %}
        </tr>
        <tr>
            <th></th>
            {% for monday, year, week in scheduler.weeks %}
                <th>W{{ week|stringformat:"02d" }}&nbsp;</th>
            {% endfor %}
        </tr>
    </thead>
{% for assignment, scheduled in scheduler.assignments %}
    <tr class="status{{ assignment.status }} {% cycle "odd" "even" %}">
        <th>{{ assignment.drudge }}</th>
        {% for week, text in scheduled %}
            <td{% if week %} class="a"{% endif %}>{{ text }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</table>{% endspaceless %}

{% endblock %}
