{% extends "zivinetz_base.html" %}

{% load i18n %}

{% block content %}
<h1>{% trans "scheduling"|capfirst %}</h1>


{% spaceless %}<table id="scheduler">
    <thead>
        <tr>
            <th></th>
            {% for monday, year, week in scheduler.weeks %}
                <th>{% ifchanged year %}{{ year }}{% endifchanged %}</th>
            {% endfor %}
        </tr>
        <tr>
            <th></th>
            {% for monday, year, week in scheduler.weeks %}
                <th>W{{ week|stringformat:"02d" }}&nbsp;</th>
            {% endfor %}
        </tr>
    </thead>
{% for assignment, scheduled in scheduler.assignments %}
    <tr>
        <th>{{ assignment.drudge }}</th>
        {% for week in scheduled %}
            <td{% if week %} class="a"{% endif %}></td>
        {% endfor %}
    </tr>
{% endfor %}
</table>{% endspaceless %}

<style type="text/css">
#scheduler { background: #fff; }
#scheduler td { border: 1px solid #444; }
#scheduler th:first-child { white-space: nowrap; }
#scheduler td.a { background-color: green; }
</style>

{% endblock %}
