{% extends "modelview/object_list.html" %}

{% load i18n modelview_list %}

{% block objects %}
<table class="objects">
    <thead>
        <tr>
            <th>{% trans "is active"|capfirst %}</th>
            <th>{% trans "EIS No."|capfirst %}</th>
            <th>{% trans "scope statement"|capfirst %}</th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            {% for name, value in object|model_row:"is_active,eis_no" %}
                <td>{{ value }}</td>
            {% endfor %}

            <th><a href="{{ object.get_absolute_url }}">{{ object }}</a></th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
