#content div.buttons {
    border-top: 1px solid #cfcfcf;
    margin: 10px 0;
    padding: 10px 3px 10px 0;
}

#content div.buttons:after,
#content div.pagination:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#content a.button,
#content button {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #cfcfcf;
    padding: 9px 15px;
    min-width: 50px;
    text-align: center;
    float: left;
    display: block;
    margin: 0 10px 0 0;
    text-decoration: none;
    color: #000000;
    border: none;
}

#content a.button:hover,
#content button:hover {
    background-color: #a0a0a0;
    color: #ffffff;
}

#content a.button.right,
#content button.right {
    float: right;
}

#content label {
    display: block;
    font-weight: normal;
    padding-top: 7px;
}

#content .required label {
    font-weight: bold;
}

#content .empty { display: none; }

#content .invalid label { color: red; }
#content .invalid input { border-color: red; border-left: 5px solid red; padding-left: 5px; }

#content form input[type=text],
#content form input[type=password],
#content form select {
    border: 1px solid #cfcfcf;
    padding: 7px 5px 7px 9px;
    min-width: 250px;
}

#content form select {
    min-width: 0;
}

#content form input[type=radio],
#content form input[type=checkbox] {
    margin-top: 7px;
}

#content input[readonly] { background: #e8e8e8; }

#content form table { width: auto; }
#content form th,
#content form td { padding: 2px 5px 2px 0; }


ul.messages {
    list-style: none;
}

ul.messages li {
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 3px 5px 3px 25px;
    margin: 0 0 3px 0;
}

ul.messages li.info { background: #88aaff url(info.png) 5px 3px no-repeat; }
ul.messages li.success { background: #88ff88 url(success.png) 5px 3px no-repeat; }
ul.messages li.warning { background: #ffaa44 url(warning.png) 5px 3px no-repeat; }
ul.messages li.error { background: #ff8888 url(error.png) 5px 3px no-repeat; }


#content .box {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}



#content .searchbox {
    padding: 10px; background: #cdcdcd; position: relative; }
#content .searchbox a.searching { display: none; }
#content .searchbox.searching a.searching {
    display: block; width: 20px; height: 20px; background: url(clear.png);
    position: absolute; right: 10px; top: 10px; text-indent: -4000em; z-index: 999; }
#content .searchbox.searching a.searching:hover { background-position: 0 -20px; }

#content .ac_clear { background: url(clear.png); text-indent: -4000em;
    display: block; float: right; position: relative; top: 11px; left: 3px;
    width: 20px; height: 20px; }
#content form input[type=text].ac_nullable { width: 215px !important; min-width: 0; }

#content .searchbox button {
    position: absolute;
    bottom: 14px;
    left: 380px;
    background-color: #a0a0a0;
}

#content .searchbox label { width: 100px; }
#content .searchbox select,
#content .searchbox input { width: 250px; }
#content .searchbox #id_query { width: 339px; }

#content .even {
    background: #e8e8e8;
}


#content .pagination ul { list-style: none; float: left; padding: 0; margin: 0 5px 0 0; }
#content .pagination li { float: left; }
#content .pagination a { display: block; padding: 2px 4px; border: 1px solid #cfcfcf; margin-right: 3px; }
#content .pagination span { display: block; padding: 4px 0 0 0; }

#content table.objects { width: 97%; }
#content table.objects th,
#content table.objects td { padding: 2px 3px 2px 3px; }
