{% extends "resources/object_form.html" %}

{% load static %}

{% block content %}{{ block.super }}

<link rel="stylesheet" href="{% static 'zivinetz/flatpickr.min.css' %}">
<link rel="stylesheet" href="{% static 'zivinetz/material_orange.css' %}">
<script src="{% static 'zivinetz/flatpickr.min.js' %}"></script>
<script src="{% static 'zivinetz/de.js' %}"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var element = document.querySelector('#id_days')
  flatpickr('#id_days', {
    defaultDate: element.value.split(','),
    inline: true,
    locale: 'de',
    mode: 'multiple',
    showMonths: 2,
  });
});
</script>
{% endblock %}
