{% extends "resources/object_form.html" %}

{% block content %}{{ block.super }}

<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_orange.css">
<script src="https://npmcdn.com/flatpickr/dist/flatpickr.min.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/de.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var element = document.querySelector('#id_days')
  flatpickr('#id_days', {
    defaultDate: element.value.split(','),
    inline: true,
    locale: 'de',
    mode: 'multiple',
    showMonths: 2,  // no effects yet at the time of writing :-(
  });
});
</script>
{% endblock %}
