{% extends "base.html" %}

{% load feincms_tags feincms_page_tags i18n navigation_tags %}

{% block moodboard %}{% endblock %}

{% block extra-head %}{{ block.super }}

<link rel="stylesheet" href="{{ STATIC_URL }}zivinetz/zivinetz.css" type="text/css" media="screen, projection, print" />
{% endblock %}

{% block body-class %}cms_standard{% endblock %}

{% block content-before %}{{ block.super }}
<div class="row zivinetz">
  <div class="large-12 columns">
    <br>
    <dl class="sub-nav">
        {% feincms_nav feincms_page level=4 as sub %}
        <dt>Module:</dt>
        {% for page in sub %}
        <dd {% if page.get_navigation_url in request.path %}class="active"{% endif %}>
          <a href="{{ page.get_navigation_url }}"><span>{{ page.title }}</span></a>
        </dd>
        {% endfor %}
    </ul>
{% endblock %}

{% block content-after %}
    <hr />
    <a href="{% url "auth_logout" %}">{% trans "Log out" %}</a> /
    <a href="/accounts/password/change/">{% trans "Change password" %}</a>
  </div>
</div>
{% endblock %}

{% block inline-js %}{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}towel/towel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}zivinetz/zivinetz.js"></script>
{% endblock %}
