{% extends "resources/object_detail.html" %}

{% load i18n modelview_detail modelview_list towel_form_tags %}
{% load feincms_thumbnail zivinetz_tags %}

{% block title %}{{ object }} - {{ verbose_name }} - {{ block.super }}{% endblock %}

{% block content %}
<table style="width:100%"><tr><td style="width:50%">

<table>
  <tr class="odd">
    <th>{% trans "ZDP No." %}</th>
    <td>{{ object.zdp_no }}</td>
  </tr>
  <tr class="even">
    <th>Adresse</th>
    <td>
      {{ object.user.first_name }} {{ object.user.last_name }}<br />
      {{ object.address|linebreaksbr }}<br />
      {{ object.zip_code }} {{ object.city }}<br />
    </td>
  </tr>
  {% for title, value in object.user|model_details:"email,is_active,last_login,date_joined" %}
    <tr>
      <th>{{ title|capfirst }}</th>
      <td>{{ value|default:"&ndash;" }}</td>
    </tr>
  {% endfor %}
  {% for title, value in object|model_details:"date_of_birth,phone_home,phone_office,mobile,regional_office" %}
    <tr>
      <th>{{ title|capfirst }}</th>
      <td>{{ value|default:"&ndash;" }}</td>
    </tr>
  {% endfor %}
</table>

</td><td style="width:50%">

<table>
  {% for title, value in object|model_details:"bank_account,health_insurance_company,health_insurance_account" %}
    <tr>
      <th>{{ title|capfirst }}</th>
      <td>{{ value|default:"&ndash;" }}</td>
    </tr>
  {% endfor %}
  <tr class="even">
    <th>{% trans "place of citizenship" %}</th>
    <td>{{ object.place_of_citizenship_city }} {{ object.place_of_citizenship_state }}</td>
  </tr>
  {% for title, value in object|model_details:"driving_license,general_abonnement,half_fare_card,other_card,environment_course,motor_saw_course,youth_association" %}
    <tr>
      <th>{{ title|capfirst }}</th>
      <td>{{ value|default:"&ndash;" }}</td>
    </tr>
  {% endfor %}
  <tr>
    <th>Wie hast du vom Naturnetz erfahren?</th>
    <td>{{ object.get_source_display|default:"&ndash;" }} {% if object.source_other %}({{ object.source_other }}){% endif %}</td>
  </tr>
</table>


</td></tr>

<tr class="even">
  <th>{% trans "education / occupation" %}</th>
  <td>{{ object.education_occupation }}
</tr>

<tr class="odd">
  <th>{% trans "notes" %}</th>
  <td>{{ object.notes|default:"&ndash;"|linebreaksbr }}
</tr>

<tr class="even">
  <th>{% trans "internal notes" %}</th>
  <td>{{ object.internal_notes|default:"&ndash;"|linebreaksbr }}</td>
</tr>
</table>

{% if object.profile_image %}
  <img src="{{ object.profile_image|thumbnail:"300x500" }}" alt="">
{% endif %}

<div class="buttons">
  <a href="delete/" class="button"><span>{% trans "delete"|capfirst %}</span></a>
  <a href="edit/"class="button"><span>{% trans "edit"|capfirst %}</span></a>
</div>

<h2>{% trans "assignments" %}</h2>
<table class="objects">
  <thead>
    <tr>
      <th>{% trans "date period"|capfirst %}</th>
      <th>{% trans "specification"|capfirst %}</th>
      <th>{% trans "created"|capfirst %}</th>
      <th>{% trans "status"|capfirst %}</th>
      <th>{% trans "mark" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for object in object.assignments.all|mark_average %}
    <tr>
      <th>
        <a href="{{ object.get_absolute_url }}">
          {{ object.date_from|date:"d.m.Y" }} - {{ object.determine_date_until|date:"d.m.Y" }}
        </a>
      </th>
      <td title="{{ object.specification }}">{{ object.specification.code }}</td>
      <td>{{ object.created|date:"d.m.Y" }}</td>
      <td>{{ object.get_status_display }}</td>
      <td>{{ object.mark_average|default:"&ndash;" }}</td>
      <td>{{ object.admin_pdf_url|safe }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<h2>{% trans "internal assessments" %}</h2>
<table>
  <thead>
    <tr>
      <th>{% trans "created by" %}</th>
      <th>{% trans "comment" %}</th>
      <th>{% trans "mark" %}</th>
      <th>{% trans "created" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for assessment in object.assessments.select_related %}
    <tr>
      <td>{{ assessment.created_by|default:"&ndash;" }}</td>
      <td>
        {% if assessment.assignment %}
          Betrifft
          <a href="{{ assessment.assignment.get_absolute_url }}">
            {{ assessment.assignment }}
          </a><br>
        {% endif %}
        {{ assessment.comment|default:"&ndash;"|linebreaksbr }}
      </td>
      <td>{{ assessment.mark|default:"&ndash;" }}</td>
      <td>{{ assessment.created|date:"d.m.Y" }}</td>
      <td>
        <a href="{{ assessment.urls.edit }}"><i class="fi-pencil"></i></a>
        <a href="{{ assessment.urls.delete }}"><i class="fi-trash"></i></a>
      </td>
    </tr>
  {% endfor %}
    <tr>
      <td colspan="6">
        <form action="." method="post">
          <h3>Bewertung erstellen</h3>
          {% csrf_token %}
          {% form_items assessment_form %}
          <button type="submit">{% trans "Save" %}</button>
        </form>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
