{% extends "modelview/object_list.html" %}

{% load i18n modelview_list %}

{% block objects %}
<table class="objects">
    <thead>
        <tr>
            <th>{% trans "object"|capfirst %}</th>
            <th>{% trans "first name"|capfirst %}</th>
            <th>{% trans "last name"|capfirst %}</th>
            <th>{% trans "ZDP No."|capfirst %}</th>
            <th>{% trans "specification"|capfirst %}</th>
            <th>{% trans "total days"|capfirst %}</th>
            <th>{% trans "status"|capfirst %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <th>
                <a href="{{ object.get_absolute_url }}">
                    {{ object.date_from|date:"d.m.Y" }} - {{ object.date_until|date:"d.m.Y" }}
                </a>
            </th>
            <td>{{ object.assignment.drudge.user.first_name }}</td>
            <td>{{ object.assignment.drudge.user.last_name }}</td>
            <td>{{ object.assignment.drudge.zdp_no }}</td>
            <td>{{ object.assignment.specification.code }}</td>
            <td>{{ object.total_days }}</td>
            <td>{{ object.get_status_display }}</td>
            <td><a href="{{ object.pdf_url }}">PDF</a></td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr><td colspan="8">
            <button id="export-stats" type="button">{% trans "Statistics" %}</button>
        </td></tr>
    </tfoot>
</table>
<style type="text/css">#export-stats { float: right !important; margin: 15px 0 0 0 !important; }</style>
<script type="text/javascript">
onReady.push(function($) {
    $('#export-stats').bind('click', function() {
      window.location.href = 'pdf/?' + $('.form-search').serialize();
    });
});
</script>
{% endblock %}
