{% extends "resources/object_detail.html" %}

{% load i18n modelview_detail %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}

{% block content %}
<table>
{% for title, value in object|model_details:"assignment,created,author_location,author_full_name,author_function" %}
    <tr>
        <th>{{ title|capfirst }}</th>
        <td>{{ value }}</td>
    </tr>
{% endfor %}
</table>

<p>
{{ object.text|linebreaksbr }}
</p>

<div class="buttons cf">
    <a href="delete/" class="button">{% trans "delete"|capfirst %}</a>
    <a href="edit/" class="button">{% trans "edit"|capfirst %}</a>
    <a href="{{ object.pdf_url }}" class="button">PDF</a>
</div>

{% endblock %}
