{% extends "zivinetz/base.html" %}

{% block content %}
<style>
.quotas {
    border-collapse: collapse;
    position: relative;
    top: 80px;
}
.quotas td,
.quotas th {
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}
.quotas td:nth-child(2n+1) {
    background: #ffeeee;
}
.quotas th:first-child {
    white-space: nowrap;
    text-align: left;
}
.quotas input {
    border: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #555;
    width: 2em;
    height: 2.5em;
    background: inherit;
    text-align: center;
    font-size: 12px;
}
.quotas input[type=number]::-webkit-inner-spin-button,
.quotas input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quotas input[type='number'] {
    -moz-appearance:textfield;
}

.quotas input[type='number']:invalid {
    -moz-appearance:textfield;
    background: red;
}

.quotas th { position: relative; }
.quotas th span {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: left top;
    bottom: -15px;
    left: -3px;
    width: 80px;
    text-align: right;
    background: white;
    padding: .4rem;
}
</style>
<script>
onReady.push(function($) {
  var reposition = function() {
    var sched = $('.quotas');
    sched.offset({top: sched.offset().top, left: 10});
  }

  $(document.body).on('resize', reposition);
  reposition();
});
</script>
<form method="post">
  {% csrf_token %}
  <h2>Zivi-Soll für {{ year }}</h2>
  <table class="quotas">
      <tr>
          <th>Kalenderwoche</th>
          {% for date in dates %}
          <th title="{{ date }}"><span>{{ date|date:"d.m.Y" }}</span> {{ date|date:"W" }}</th>
          {% endfor %}
      </tr>
      {% for scope_statement, forms in all_forms.items %}
        <tr>
            <th>{{ scope_statement }}</th>
            {% for day, form in forms.items %}
                <td>{{ form.quota }}</td>
            {% endfor %}
        </tr>
      {% endfor %}
  </table>

  <br><br><br><br>
  <button type="submit">Sichern</button>

</form>
{% endblock %}
