{% extends "zivinetz/base.html" %}

{% load i18n towel_form_tags %}

{% block content %}
<h1>{% trans "scheduling"|capfirst %}
    <small style="font-size:70%">(
        <a href="?s=1&date_until__gte=01.01.2010&date_from__lte=31.12.2010">2010</a> /
        <a href="?s=1&date_until__gte=01.01.2011&date_from__lte=31.12.2011">2011</a> /
        <a href="?s=1&date_until__gte=01.01.2012&date_from__lte=31.12.2012">2012</a> /
        <a href="?s=1&date_until__gte=01.01.2013&date_from__lte=31.12.2013">2013</a> /
        <a href="?s=1&date_until__gte=01.01.2014&date_from__lte=31.12.2014">2014</a> /
        <a href="?s=1&date_until__gte=01.01.2015&date_from__lte=31.12.2015">2015</a>
    )</small>
</h1>

<div class="box searchbox {{ search_form.searching }}">
    <form id="filterform" method="get" action=".">
        <input type="hidden" name="s" value="1" />
        {% form_item_plain search_form.query %}
        {% for field in search_form.fields_iterator %}
            {% if forloop.first %}<table>{% endif %}
            {% form_item field %}
            {% if forloop.last %}</table>{% endif %}
        {% endfor %}
        <button type="submit"><span>{% trans "Search" %}</span></button>
        <a href="?clear=1" class="button secondary">
          Reset
        </a>
    </form>
</div>


<style type="text/css">
#scheduler { background: #eee; border-collapse: collapse;
    font-family: Verdana, Arial, sans-serif; }
#scheduler td, #scheduler th { padding: 2px; vertical-align: middle; text-align: left;
    font-weight: normal; font-size: .75rem !important; }
#scheduler td { border: 1px solid #666; text-align: center; line-height: 1em; }
#scheduler th:nth-child(-n+6),
#scheduler td:nth-child(-n+6) { white-space: nowrap; }
#scheduler tr.status10 td.a { background-color: #ffcc6e; }
#scheduler tr.status20 td.a { background-color: #b0beed; }
#scheduler tr.status30 td.a { background-color: #76bf76; }
#scheduler tr.status40 td.a { background-color: #a0a0a0; }

#scheduler tr.statuswl { opacity: 0.5; }
#scheduler tr.statuswl td.a { background-color: #c495d0; }

#scheduler td:nth-child(10n+6) { background-color: #d0d0d0; }

#scheduler th.current { color: red; }

#scheduler tr:hover { background: #fff5c2; }
</style>
<script>
onReady.push(function($) {
  var reposition = function() {
    var sched = $('#scheduler');
    sched.offset({top: sched.offset().top, left: 10});
  }

  $(document.body).on('resize', reposition);
  reposition();
});
</script>

{% spaceless %}<table id="scheduler">
{% with scheduler.assignments as assignments %}
    <thead>
        <tr>
            <th colspan="6"></th>
            {% for monday, year, week, current in scheduler.weeks %}
                <th>{% ifchanged year %}{{ year }}{% endifchanged %}</th>
            {% endfor %}
        </tr>
        <tr title="{% trans 'Drudges available at least three days this week' %}">
            <th colspan="1">{% trans "week"|capfirst %}</th>
            <th colspan="5">{% trans "Average" %}: {{ scheduler.average|floatformat:1 }}</th>
            {% for monday, year, week, current in scheduler.weeks %}
                <th {% if current %}class="current"{% endif %}>{{ week|stringformat:"02d" }}&nbsp;</th>
            {% endfor %}
        </tr>
    </thead>
{% for assignment, scheduled in assignments %}
    {% if forloop.counter|divisibleby:20 %}
        <tr>
            <th colspan="6"></th>
            {% for monday, year, week, current in scheduler.weeks %}
                <th {% if current %}class="current"{% endif %}>{{ week|stringformat:"02d" }}&nbsp;</th>
            {% endfor %}
        </tr>
    {% endif %}
    <tr class="status{{ assignment.status }}" title="{{ assignment }}">
        <th><a href="{{ assignment.get_absolute_url }}">{{ assignment.drudge.user.first_name }}&nbsp; </a></th>
        <th><a href="{{ assignment.get_absolute_url }}">{{ assignment.drudge.user.last_name }}&nbsp; </a></th>
        <th><a href="{{ assignment.get_absolute_url }}">{{ assignment.drudge.zdp_no }}&nbsp; </a></th>
        <th>{{ assignment.specification.code }}&nbsp; </th>
        <th style="white-space:nowrap">
            <span title="{% trans "motor saw course" %}">
                {{ assignment.drudge.pretty_motor_saw_course }}
            </span>
        </th>
        <th>
            {% if assignment.drudge.driving_license %}
                <span title="{% trans "driving license"|capfirst %}">FA</span>
            {% endif %}
        </th>
        {% for week, text in scheduled %}
            <td{% if week %} class="a"{% endif %}>{{ text }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</table>{% endwith %}{% endspaceless %}

{% endblock %}
