{% extends "resources/object_list.html" %}

{% load i18n %}

{% block objects %}
<table class="objects">
    <thead>
        <tr>
            <th>{% trans "is active"|capfirst %}</th>
            <th>{% trans "EIS No."|capfirst %}</th>
            <th>{% trans "scope statement"|capfirst %}</th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>
                <i class="foundicon-{{ object.is_active|yesno:'checkmark,remove' }}"></i>
            </td>
            <td>{{ object.eis_no }}</td>
            <th><a href="{{ object.get_absolute_url }}">{{ object }}</a></th>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
