{% extends base_template|default:"base.html" %}

{% load i18n l10n towel_form_tags %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}

{% block content %}
<h2>{{ title }}</h2>

<form method="post" action="." enctype="multipart/form-data">{% csrf_token %}

{% form_errors form formsets %}

<table>
    {% form_item form.scope_statement %}
    {% form_item form.with_accomodation %}
    {% form_item form.code %}
    {% form_item form.clothing %}
    {% form_item form.accomodation_throughout %}
    {% form_item form.food_throughout %}
    {% form_item form.conditions %}

    {% for key, formset in formsets.items %}
        {{ formset }}
    {% endfor %}
</table>

<table>
    <tr>
        <th></th>
        <th>{% trans "accomodation"|capfirst %}</th>
        <th>{% trans "breakfast"|capfirst %}</th>
        <th>{% trans "lunch"|capfirst %}</th>
        <th>{% trans "supper"|capfirst %}</th>
    </tr>
    <tr>
        <th>{% trans "working days"|capfirst %}</th>
        <td>{% form_item_plain form.accomodation_working %}</td>
        <td>{% form_item_plain form.breakfast_working %}</td>
        <td>{% form_item_plain form.lunch_working %}</td>
        <td>{% form_item_plain form.supper_working %}</td>
    </tr>
    <tr>
        <th>{% trans "sick days"|capfirst %}</th>
        <td>{% form_item_plain form.accomodation_sick %}</td>
        <td>{% form_item_plain form.breakfast_sick %}</td>
        <td>{% form_item_plain form.lunch_sick %}</td>
        <td>{% form_item_plain form.supper_sick %}</td>
    </tr>
    <tr>
        <th>{% trans "free days"|capfirst %}</th>
        <td>{% form_item_plain form.accomodation_free %}</td>
        <td>{% form_item_plain form.breakfast_free %}</td>
        <td>{% form_item_plain form.lunch_free %}</td>
        <td>{% form_item_plain form.supper_free %}</td>
    </tr>

    {% with object.compensation as compensation %}
    {% localize off %}
    {% if compensation %}
        <tr>
            <th colspan="5">
                <h2>{% trans "Current compensation rates" %}</h2>
            </th>
        </tr>
        <tr>
            <th>{% trans "working days"|capfirst %}</th>
            <td>{{ compensation.accomodation_working }}</td>
            <td>{{ compensation.breakfast_working }}</td>
            <td>{{ compensation.lunch_working }}</td>
            <td>{{ compensation.supper_working }}</td>
        </tr>
        <tr>
            <th>{% trans "sick days"|capfirst %}</th>
            <td>{{ compensation.accomodation_sick }}</td>
            <td>{{ compensation.breakfast_sick }}</td>
            <td>{{ compensation.lunch_sick }}</td>
            <td>{{ compensation.supper_sick }}</td>
        </tr>
        <tr>
            <th>{% trans "free days"|capfirst %}</th>
            <td>{{ compensation.accomodation_free }}</td>
            <td>{{ compensation.breakfast_free }}</td>
            <td>{{ compensation.lunch_free }}</td>
            <td>{{ compensation.supper_free }}</td>
        </tr>
    {% endif %}
    {% endlocalize %}
    {% endwith %}
</table>

<div class="buttons">
    <button type="submit">{% trans "Save" %}</button>
    <button type="submit" name="_continue">{% trans "Save and continue editing" %}</button>
    <button type="button" onclick="window.location.assign('../')">{% trans "Cancel" %}</button>
</div>

</form>
{% endblock %}
